<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-RZoD4jO-xM9u4r5g2Q639o286iHunrU</string>
	<key>GCM_SENDER_ID</key>
	<string>202575309397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vikram.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-b125c</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-b125c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:202575309397:ios:588dcfc97cb15433a482dc</string>
</dict>
</plist>